{% extends "base.html" %}


{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}


{% block main %}
<div id="container">
    <div id="wrap">
        <video id="video" muted autoplay playsinline width="400" height="300"></video>
        <canvas id="canvas" width="400" height="300"></canvas>
    </div>
</div>

<script defer src="{{ url_for('static', filename='js/clmtrackr.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
