{% extends "base.html" %}


{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
<script defer src="{{ url_for('static', filename='js/clmtrackr.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}


{% block main %}
<div id="wrap">
    <video id="video" autoplay="true"></video>
    <canvas id="canvas" ></canvas>
</div>
<div>
    <button id="startbutton" onclick="startVideo()">Start</button>
</div>
{% endblock %}
